:root {
    --grey-100: rgba(211, 211, 211, 1);
    --grey-300: rgba(151, 151, 151, 1);
    --grey-400: rgba(211, 211, 211, 1);
    --grey-700: rgba(67, 67, 67, 1);
    --black: #000;
    --white: #fff;
}

body {
    width: 100%;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
